body {
    background-color: powderblue;
    color: black;
    font-family: Arial, sans-serif;
    }

/* JS Exercise 7 - Toggle Dark Mode */
.dark-mode {
     background-color: darkblue;
    color: lightgray;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
*/

h1 {
    text-align: Center;
    font-family: 'Times New Roman', serif;
    }

h2 {
    text-align: Left;

    }

h3 {
    text-align: Left;
    }

p {
        font-family: Arial, sans-serif;
    }

table, th, td {
    border:1px solid black;
    text-align: Center;
    }

.center {
    text-align: center;
    }

